################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lab2_G20/Views/Crop/Delete.cshtml
.vs/Lab2_G20/DesignTimeBuild/.dtbcache.v2
.vs/Lab2_G20/FileContentIndex/012c960c-e355-489e-9c64-130a9d832dcd.vsidx
.vs/Lab2_G20/FileContentIndex/2253d755-4f04-4607-8455-0e7813d55aef.vsidx
.vs/Lab2_G20/FileContentIndex/675d4bfc-7adc-45b9-becd-bd3c0310cb2d.vsidx
.vs/Lab2_G20/v17/.suo
.vs/Lab2_G20/v17/DocumentLayout.json
.vs/ProjectEvaluation/lab2_g20.metadata.v7.bin
.vs/ProjectEvaluation/lab2_g20.projects.v7.bin
Lab2_G20/obj/Debug/net8.0/Lab2_G20.AssemblyInfo.cs
Lab2_G20/obj/Debug/net8.0/Lab2_G20.AssemblyInfoInputs.cache
Lab2_G20/obj/Debug/net8.0/Lab2_G20.assets.cache
Lab2_G20/obj/Debug/net8.0/Lab2_G20.csproj.AssemblyReference.cache
Lab2_G20/obj/Debug/net8.0/Lab2_G20.csproj.CoreCompileInputs.cache
Lab2_G20/obj/Debug/net8.0/Lab2_G20.MvcApplicationPartsAssemblyInfo.cs
Lab2_G20/obj/Debug/net8.0/Lab2_G20.sourcelink.json
Lab2_G20/obj/Lab2_G20.csproj.nuget.dgspec.json
Lab2_G20/obj/Lab2_G20.csproj.nuget.g.props
Lab2_G20/obj/project.assets.json
Lab2_G20/obj/project.nuget.cache
.vs/Lab2_G20/DesignTimeBuild/.dtbcache.v2
.vs/Lab2_G20/FileContentIndex/2253d755-4f04-4607-8455-0e7813d55aef.vsidx
.vs/Lab2_G20/v17/.suo
.vs/Lab2_G20/v17/DocumentLayout.json
Lab2_G20/obj/Debug/net8.0/Lab2_G20.AssemblyInfo.cs
Lab2_G20/obj/Debug/net8.0/Lab2_G20.AssemblyInfoInputs.cache
Lab2_G20/obj/Debug/net8.0/Lab2_G20.assets.cache
Lab2_G20/obj/Debug/net8.0/Lab2_G20.csproj.AssemblyReference.cache
Lab2_G20/obj/Debug/net8.0/Lab2_G20.csproj.CoreCompileInputs.cache
Lab2_G20/obj/Debug/net8.0/Lab2_G20.MvcApplicationPartsAssemblyInfo.cs
Lab2_G20/obj/Debug/net8.0/Lab2_G20.sourcelink.json
Lab2_G20/obj/Lab2_G20.csproj.nuget.dgspec.json
Lab2_G20/obj/Lab2_G20.csproj.nuget.g.props
Lab2_G20/obj/project.assets.json
Lab2_G20/obj/project.nuget.cache
