@model Lab2_G20.Models.Crop

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Crop</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CropType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CropType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantingDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-controller="HarvestTracking" asp-action="HarvestTracking">Back to List</a>
</div>
